{% extends "base.html" %}
{% block title %}{{ song.title }}{% endblock %}
{% block content %}
    <p>
        <h2>{{ song }}</h2>
    </p>
    <p>
        {{ song.lyrics|linebreaks }}
    </p>

    <a href="{% url 'song_update' pk=song.id %}">
        <button type="button">Edit this song</button>
    </a>
    <br>
    <br>
    <a href="{% url 'song_delete' pk=song.id %}">
        <button type="button">Delete this song</button>
    </a>
    <br>
    <br>
    <a href="{% url 'song_list' %}">
        <button type="button">Back to list</button>
    </a>
{% endblock %}